@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

body {
    background-color: #FFFFFF;
    font-family: 'Epilogue', sans-serif!important;
    color: #000000;
    scroll-behavior: smooth !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
    font-weight: 300;
}

b {
    font-weight: 700;
}

/* MAIN COLORS */
/* Background */
.bg-color-black { 
    background-color: black;
}
.bg-color-white { 
    background-color: white;
}
.bg-color-gray { 
    background-color: #2D2E40;
}
.bg-color-light-gray { 
    background-color: #F4F5F6;
}

/* Text */
.text-color-black { 
    color: black;
}
.text-color-white { 
    color: white;
}
.text-color-gray { 
    color: #2D2E40;
}
.text-color-light-gray { 
    color: #a4a4a4!important;
}

.bold {
    font-weight: 600;
}
.uppercase {
    text-transform:uppercase;
}


::selection {
    background: #ffffff;
    color: black;
}
.selected {
    background-color: white;
    color: black;
}
.selected-whitebg {
    background-color: black;
    color: white;
}
::-moz-selection {
    background: #ffffff;
    color: black;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
body::-webkit-scrollbar-track{
    border-radius: 12px;
    background: #000000
}
body::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background:#ffffff;
}

.bg-black {
    background: #000000;
}
a {
    color: #232323;
    text-decoration: none;
}
a:hover {
    color: #cacaca;
    text-decoration: none;
}

.containerT{
    display: flex;
    margin-right: 400px;
    margin-left: 400px;
}

/*fonts*/
.font-300 {
  font-weight: 300 ;
}
.font-700 {
  font-weight: 700 ;
}
.font-light {
  font-weight: 400;
}

.text-grey {
  color: #2D2E40;
}

.border-t-white {
  border-top: solid 1px rgb(255 255 255 / 40%);
}
.border-t-black {
  border-top: solid 1px rgb(0 0 0 / 100%);
}
.border-b-black {
  border-bottom: solid 1px rgb(0 0 0 / 100%);
}

@media (max-width: 767px) {
  .w-xs-100 {
      width: 100%;
  }
}
